.container{
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  padding: 1.25rem 2rem;
  width:100%;
  border-radius: 10px;
  max-width: 60rem;
  margin-top:-3.5rem;
}

.createdNewTask {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 3.375rem;
}

.createdNewTask input {
  flex: 1;
  background: var(white);
  color: var(--purple-400);
  border-radius: 8px;
  padding: 1rem;
  border:2px solid var(--gray-800);
  border-radius:8px;
  margin-right:1rem;
}

.createdNewTask input:focus {
  outline: 1px solid var(--purple-dark);
}

.createdNewTask button { 
  width:8rem;
  background: var(--blue-300);
  color: var(--white);
  padding: 1rem 0;
  border:2px solid var(--gray-800);
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

.createdNewTask button:not(:disabled):hover {
  background: var(--blue-500);
}

.createdNewTask button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

main {
  width:100%;
  margin-top: 1rem;
}

.counters {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom:1rem;
}

.tasksCreated {
  display: flex;
  color: var(--blue-300);
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.counterTasksCompleted {
  display: flex;
  color: var(--purple-300);
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.counterTasksCreated {
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}

@media (max-width: 768px) { 
  .container {
    padding: 0 0.5rem;
  }
}

@media (max-width: 400px) { 
  .formNewTask {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}